--r-Tooltip-zIndex: 1000;
--r-Tooltip-backgroundColor: #383838;
--r-Tooltip-margin: .5rem;
--r-Tooltip-arrow-size: .375rem;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
list-style-type: none;
margin: 0;
outline: none;
background-clip: padding-box;
user-select: none;
height: 100%;
font-family: tahoma, ptsans;
font-size: 14px;
box-sizing: border-box;
text-align: center;
padding: 2px 0;
width: 60px;
flex: 1 1 auto;
border: 1px solid #e0e0e0;
line-height: 20px;